<section class="menu-section">
  <div class="menu-section-mobile">
    <div class="row justify-content-start">
      <div class="menu-section-hamburguer col-4">
        <img src="../../../assets/img/menu.svg" alt="menu">
      </div>
      <div class="menu-section-photo col-4">
        <img src="../../../assets/img/me.jpeg" alt="menu">
      </div>
    </div>  
  </div>
  <div class="menu-section-large col-12">
    <div class="row">
      <div class="menu-section-items col">
        <a class="scrollactive-item menu-section-items_text" v-scroll-to="'#about-me'">About Me</a>        
      </div>
      <div class="menu-section-items col">
        <a class="menu-section-items_text scrollactive-item" v-scroll-to="'#work'">Work</a>
      </div>
      <div class="menu-section-photo col-4">
        <img src="../../../assets/img/me.jpeg" alt="menu">
      </div>
      <div class="menu-section-items col">
        <a class="scrollactive-item menu-section-items_text" v-scroll-to="'#education'">Education</a>
      </div>
      <div class="menu-section-items col">
            <a class="menu-section-items_text" v-scroll-to="'#contacts'">Contacts</a>
      </div>
    </div>  
  </div>
</section>